<app-navbar></app-navbar>
      
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                   <div class="card">
                                <img height="200px" src="https://5.imimg.com/data5/FH/MI/RY/SELLER-98820625/bike-rental-in-barabanki-u-p-fts-travel--500x500.jpg" class= "card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Honda Shine</h5>
                                  <p class="card-text">  Rs.250/Daily </p>
                                  <a href="/booking" class="btn btn-primary"> Book Now </a>
                                </div>
                              </div>
</div>
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    
                    <div class="card">
                        <img height="200px" src="https://images.jdmagicbox.com/quickquotes/images_main/honda-livo-bike-383347086-tffm8.jpg" class= "card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Honda Livo</h5>
                          <p class="card-text">  Rs.200/Daily </p>
                          <a href="/booking" class="btn btn-primary">Book Now </a>
                        </div>
                      </div>
</div>
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="200px" src="https://images.hindustantimes.com/auto/img/2020/12/19/1600x900/WhatsApp_Image_2020-12-18_at_12.58.04_PM_1608355018673_1608355029285.jpeg" class= card-img-top alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Honda Hornet</h5>
                          <p class="card-text">  Rs.500/Daily </p>
                          <a href="/booking" class="btn btn-primary">Book Now </a>
                        </div>
                      </div>
                </div>    
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="200px" src="https://imgd.aeplcdn.com/1056x594/n/bw/models/colors/honda-select-model-matte-axis-grey-metallic-1636522497243.jpg?q=75" class= "card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Honda Activa</h5>
                          <p class="card-text">  Rs.250/Daily</p>
                          <a href="/booking" class="btn btn-primary">Book Now </a>
                        </div>
                      </div>
                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="200px" src="https://images.carandbike.com/bike-images/large/bajaj/pulsar-ns160/bajaj-pulsar-ns160.jpg?v=24" class= "card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Bajaj NS 160</h5>
                          <p class="card-text">  Rs.500/Daily </p>
                          <a href="/booking" class="btn btn-primary">Book Now </a>
                        </div>
                      </div>
                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="200px" src="https://images.carandbike.com/bike-images/colors/bajaj/dominar-400-2019/bajaj-dominar-400-2019-vine-black.png?v=1556266428" class= "card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dominar</h5>
                          <p class="card-text">  Rs.900/Daily </p>
                          <a href="/booking" class="btn btn-primary">Book Now </a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="200px" src="https://ic1.maxabout.us/autos/tw_india//B/2022/6/bajaj-pulsar-150-neon-silver.jpg" class= "card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pulsar 150</h5>
                          <p class="card-text">  Rs.600/Daily </p>
                          <a href="/booking" class="btn btn-primary">Book Now </a>
                        </div>
                      </div>
                      </div>
                    
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="200px" src="https://i.cdn.newsbytesapp.com/images/l200_8261637405259.jpg" class= "card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Honda Navi</h5>
                          <p class="card-text"> Rs.200/Daily </p>
                          <a href="/booking" class="btn btn-primary">Book Now </a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>    
